<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <xacro:property name="tilt_deg_cam" value="20"/>
    <xacro:property name="tilt_rad_cam" value="${tilt_deg_cam * pi / 180.0}"/>

    <joint name="camera_joint" type="fixed">
        <parent link="camera_holder2"/>
        <child link="camera_oak"/>
        <!-- 0.025 (from axis to end) + 0.017701/2=0.0338505 -->
        <origin xyz="0.0338505 0 0.00142"/>
    </joint>

    <link name="camera_oak">
        <visual>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.017701 0.090161 0.027161"/>
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <box size="0.017701 0.090161 0.027161"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.005" x="0.017701" y="0.090161" z="0.027161">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="camera_oak">
        <material>Gazebo/Black</material>
    </gazebo>

    <joint name="camera_point_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera"/>
        <origin xyz="0.37 0 0.1765" rpy="0 ${tilt_rad_cam} 0"/>
    </joint>

    <!-- This is the link that is centered on the rgb sensor and should be used for transform -->
    <link name="camera"/>

</robot>