<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">
    <xacro:arg name="simulation" default="false" />

    <xacro:include filename="robot_core.xacro" />
    <xacro:include filename="lidar.xacro" />
    <!-- <xacro:include filename="camera_holder.xacro" />
    <xacro:include filename="camera.xacro" /> -->

    <xacro:if value="$(arg simulation)">
        <xacro:include filename="$(find robocops_description)/description/control/gazebo_control.xacro"/>
    </xacro:if>

    <xacro:unless value="$(arg simulation)">
        <xacro:include filename="$(find robocops_description)/description/control/ros2_control.xacro"/>    
        <xacro:robocops_ros2_control name="robocops"/>
    </xacro:unless>
    
</robot>